.defaulta{
    overflow: hidden; position: relative;
}

.defaultb{
    width: 1000%; transition-duration: 1.2s; transform: translate3d(-2880px, 0px, 0px);
}

.why {
    background: black url("../images/14gfPkZbw.jpg") no-repeat 50% 0 fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/14gfPkZbw.jpg") no-repeat 50% 0 fixed;
    /* Saf4+, Chrome */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/14gfPkZbw.jpg") no-repeat 50% 0 fixed;
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/14gfPkZbw.jpg") no-repeat 50% 0 fixed;
    /* FF3.6+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/14gfPkZbw.jpg") no-repeat 50% 0 fixed;
    /* IE10 */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/14gfPkZbw.jpg") no-repeat 50% 0 fixed;
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/14gfPkZbw.jpg") no-repeat 50% 0 fixed;
    /* W3C */
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .why .container {
      padding: 48px 0; }

      .testimonials {
        background-color: white;
        color: #888888;
        padding: 70px 110px;
        text-align: center;
        margin-bottom: 70px;
        position: relative; }
        .testimonials h4 {
          font-size: 1.85714em;
          text-transform: uppercase;
          color: black;
          font-weight: 300;
          margin-bottom: 35px;
          background: url("../images/quote.png") top center no-repeat;
          padding: 25px 0 10px; }
        .testimonials blockquote {
          font-size: 1.28571em;
          font-style: italic; }
        .testimonials cite {
          display: block;
          font-style: normal;
          font-size: 0.77778em;
          margin-top: 20px;
          color: #ea4c0f;
          font-family: "Roboto Condensed", sans-serif; }
          .testimonials cite span {
            text-transform: uppercase;
            color: black; }
        .testimonials ul.flex-direction-nav {
          list-style-type: none; }
          .testimonials ul.flex-direction-nav .flex-prev, .testimonials ul.flex-direction-nav .flex-next {
            display: block;
            position: absolute;
            width: 64px;
            background-color: #ea4c0f;
            color: white;
            font-size: 1.9em;
            padding: 14px 0;
            top: 50%;
            margin-top: -32px; }
            .testimonials ul.flex-direction-nav .flex-prev:hover, .testimonials ul.flex-direction-nav .flex-next:hover {
              background-color: #f26d3a; }
          .testimonials ul.flex-direction-nav .flex-prev {
            left: -10px; }
          .testimonials ul.flex-direction-nav .flex-next {
            right: -10px; }
      
            .bullets {
                padding: 0 30px; }
                .bullets h3, .bullets h4 {
                  font-size: 1.71429em;
                  font-weight: 300; }
                .bullets h3 {
                  text-transform: uppercase;
                  padding: 0 30px; }
                  @media all and (max-width: 780px) {
                    .bullets h3 {
                      padding: 0; } }
                .bullets h4 {
                  color: #ea4c0f; }
                .bullets div {
                  padding: 0 30px;
                  width: 50%;
                  min-height: 140px;
                  float: left; }
                  @media all and (max-width: 780px) {
                    .bullets div {
                      width: 100%;
                      padding: 0; } }
