.header {
  background-position: 50% 0px;
    height: 1002px;
    background: #888888 url("../images/diner336499.jpg") 50% 0 no-repeat fixed;
    background-size: cover;
    color: white;
    z-index: 1;
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%);
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media all and (max-width: 940px) {
      .header {
        height: auto; } }
    .header .container {
      padding: 60px;
      position: relative;
      min-height: 665px; }
    .header .menu {
      background: rgba(234, 76, 15, 0.8); }
    .header ul {
      list-style-type: none;
      padding: 15px 60px;
      max-width: 1180px;
      margin: 0 auto; }
      .header ul li {
        float: left;
        margin-right: 10px; }
        .header ul li a {
          font-size: 1.14286em;
          color: white;
          text-transform: uppercase;
          font-weight: 300; }
          .header ul li a:hover, .header ul li a.active {
            color: black; }
    .header h1 {
      padding-top: 100px;
      margin-bottom: 0; }
    .header .subtitle {
      margin-bottom: 80px; }
    .header a {
      text-decoration: none;
      color: white; }
    .header a:hover{
      color:white;
    }
  
  .when, .where, .register-now {
    font-size: 1.28571em;
    font-weight: 300;
    position: absolute; }
    @media all and (max-width: 940px) {
      .when, .where, .register-now {
        position: static;
        margin-top: 50px; } }
    .when span, .where span, .register-now span {
      font-size: 1.33333em; }
  
  .where {
    bottom: 90px; }
    @media all and (max-width: 940px) {
      .where {
        bottom: none; } }
  
  @media all and (max-width: 940px) {
    .when, .where {
      width: 100%; } }
  .when div, .where div {
    float: left;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 5px; }
  .when .icon-holder, .where .icon-holder {
    background-color: #ea4c0f;
    width: 64px;
    padding: 14px 0;
    text-align: center;
    font-size: 1.5em;
    margin-right: 10px;
    margin-top: 10px; }
  .when p, .where p {
    margin-bottom: 0;
    line-height: 1.2em; }
  .when strong, .where strong {
    font-weight: bold;
    color: #ea4c0f;
    text-transform: uppercase; }
  
  .register-now {
    bottom: 90px;
    right: 0;
    text-align: right; }
    @media all and (max-width: 1180px) {
      .register-now {
        text-align: left; } }
    .register-now a.button {
      display: inline-block;
      font-size: 1.5em; }
      @media all and (max-width: 480px) {
        .register-now a.button {
          text-align: center;
          font-size: 1.33333em;
          padding: 0 26px;
          line-height: 50px; } }
  
  .button {
    background: #ea4c0f;
    border: 3px solid #ea4c0f;
    padding: 0 46px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif; }
    .button:hover {
      background: none;
      color: white; }
  