.single {
    width: 25%;
    float: left;
    position: relative;
    cursor: pointer; }
    @media all and (max-width: 980px) {
      .single {
        width: 33.333%; } }
    @media all and (max-width: 780px) {
      .single {
        width: 50%; } }
    .single img {
      float: left;
      width: 100%;
      height: auto; }
    .single div {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(234, 76, 15, 0.85);
      padding: 30px;
      display: none;
      color: white; }
    .single h3 {
      font-size: 2.57143em;
      font-weight: 300;
      line-height: 1.1em; 
      }
      @media all and (max-width: 780px) {
        .single h3 {
          font-size: 1.71429em; } }
    .single p {
      margin-bottom: 0; }
      .single p:last-child {
        margin-top: 6px; }
    .single strong {
      font-size: 1.28571em;
      font-weight: 300;
      text-transform: uppercase;
      font-family: "Roboto Condensed", sans-serif;
      display: inline-block; }
      @media all and (max-width: 780px) {
        .single strong {
          font-size: 1.14286em; } }
      .single strong:before {
        content: '';
        width: 30px;
        height: 5px;
        background: white;
        display: block;
        margin-bottom: 10px; }
    .single a {
      color: white;
      margin-right: 10px;
      opacity: .6; }
      .single a:hover {
        opacity: 1;
       }
